.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  margin-bottom: 4rem;

}

.cartButton {
  display: none;
  position: fixed;
  bottom: 2.5rem;
  right: 1.25rem;
  background: var(--color-base);
  width: fit-content;
  padding: 0.75rem;
  border-radius: 50%;
  border: none;

  cursor: pointer;

  box-shadow: 0 3px 4px -1px rgb(41 41 41 / .5);

  transition: transform .3s ease;
}

.cartButton svg {
  color: var(--color-base-very-light);
 
}

.cartButton:hover  {
  transform: scale(1.2);
}

@media (max-width: 56.25rem) {
  .main {
    grid-template-columns: 1fr;
  }

  .cartButton {
    display: block;
  }
}