@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Lato:wght@300;400;700&display=swap');


:root {
  --color-base-very-light: #F4FAF3;
  --color-base-light: #9BDA9B;
  --color-base: #43A443;
  --color-base-dark: #265527;
  --color-base-very-dark: #0D260E;

  --color-grey-50: #fafafa;
  --color-grey-100: #efefef;
  --color-grey-200: #dcdcdc;
  --color-grey-300: #bdbdbd;
  --color-grey-400: #989898;
  --color-grey-500: #7c7c7c;
  --color-grey-600: #656565;
  --color-grey-700: #525252;
  --color-grey-800: #464646;
  --color-grey-900: #3d3d3d;
  --color-grey-950: #292929;

  --font-title: 'Barlow', sans-serif;
  --font-text: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-grey-50);

}

button {
  outline: none;
  border-radius: 8;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
}

.sectionContainer {
  padding: 0 4.25rem;
}

@media (max-width: 40.625rem) {
  .sectionContainer {
    padding: 0 1.25rem;
  }
}